<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mysudanesefirstapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sudanese_icon"
        android:label="mysudanApp"
        android:roundIcon="@mipmap/sudanese_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySudaneseFirstApp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>